* {
  text-decoration: none;
  margin: 0%;
  padding: 0%;
}

#body {
  max-width: 1000px;
  padding: 0% 10% 0 10%;
}

.move {
  width: 1200px;
  height: 8px;
  background: #4a3174;
}

.section1 {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  margin-top: 4%;
}


.accueil {
  color: #4a3174;
}

.rechercher {
  color: #c5c5c5;
  margin-left: 5%;
}

.propos {
  color: #c5c5c5;
  margin-left: 3%;
}

.cn {
  width: 15%;
  height: 10%;
  margin-left: 20%;
}

.connex.connecte {
  font-family: Roboto Condensed;
  font-size: 17%;
  text-align: center;
  color: #c5c5c5;
}

.inscription {
  width: 20%;
  height: 50px;
  margin-left: 15%;
}

.inscrire {
  font-family: Roboto Condensed;
  font-size: 100%;
  text-align: center;
  color: #f2f2f2;
}

.se {
  background: #4a3174;
  border-radius: 3px;
}
img.image {
  display: flex;
}

#logo {
  display: flex;
  margin-top: 10%;
}

h1 {
  margin-left: 7%;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 300%;
  color: #4a3174;
}

p {
  position: absolute;
  margin-left: 13%;
  margin-top: 5%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 120%;
  color: #7a7a7a;
}
#recherche {
  display: flex;
}

.search {
  height: 40px;
  width: 190px;
  border-radius: 3px;
  margin-left: 350px;
}
.go {
  height: 40px;
  width: 50px;
  background: #4a3174;
  border-radius: 3px;
  color: white;
}

h2 {
  font-family: Roboto, condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin-top: 25%;
  margin-left: 10%;
  color: #4a3174;
}

.livree {
  margin-top: -20%;
  margin-left: 3%;
}

.book{
  margin-top: -10%;
  margin-left: 3%;
}

.rectangle {
  display: flex;
  width: 200px;
  height: 280px;
  margin: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1%;
  margin-left: 5%;
}

.container > div {
  padding: 0px 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.g1 {
  grid-column-start: 1;
  width: 70%;
  height: 120%;
}

.g2 {
  grid-column-start: 2;
  width: 70%;
  height: 120%;
}

.g3 {
  grid-column-start: 3;
  width: 70%;
  height: 120%;
}

.auteur {
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin-top: 27px;
  font-family: Roboto;
  margin-left: 40px;
}

.titrage {
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  margin-top: -3px;
  font-family: Roboto;
  margin-left: 40px;
  color: #222222;
}

.prix {
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  margin-top: 50px;
  font-family: Roboto;
  font-size: 14px;
  margin-left: 40px;
  color: #4a3174;
  opacity: 0.42;
}

.wrapper {
  display: grid;

  margin-top: 5%;
  margin-left: 3%;
  border-color: #222222;
}

.imag_petit {
  width: 10%;
  height: 100%;
}

.txt1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  margin-top: -10%;
  margin-left: 9%;
  color: #222222;
}

.euro {
  color: rgb(234, 184, 8);
}

.euro2 {
  color: #4a3174;
  opacity: 0.42;
  position: absolute;
  top: 0%;
  left: 280%;
}

.txt2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-top: -100px;
  margin-left: 9%;
  color: #7a7a7a;
}
.txt3 {
  width: 963px;
  height: 106px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: -70px;
  margin-left: 9%;
  color: #cbcbcb;
  max-width: 800px;
}
.wrapper > div {
  padding: 0px 0px;
  background-color: rgb(247, 247, 247);
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
footer {
  width: 1200px;
  height: 320px;
  background: #4a3174;
  margin-left: -13%;
}
.imag_logo {
  margin-top: 5%;
  margin-left: 15%;
}
.pied li:hover {
  background: #7a5cad;
}
.titre {
  display: flex;
  margin-left: 22%;
  margin-top: -3%;
  color: #f2f2f2;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
}
.pied {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.lienn {
  list-style-type: none;
  position: absolute;
  left: 200px;
  color: #f2f2f2;
}
.pied1 {
  list-style-type: none;
  position: absolute;
  left: 500px;
  color: #f2f2f2;
}
.pied2 {
  list-style-type: none;
  position: absolute;
  left: 900px;
  color: #f2f2f2;
}

img{
  max-width: 100%;
  height: auto;
}

@media screen and (min-width :640px) and (max-width: 1000px){
  *{
      margin: 0%;
      padding: 0%;
  }
  .se {
      margin-left: 5%;
      margin-top: 20%;
  }
  .cn {
      margin-top: 5%;
      margin-left: 20%;
  }
  img.grand{
      margin-left: 20%;
  }
  p {
      margin-top: 6%;
      margin-left: 31%;
  }
  #recherche {
      width: 85%;
      margin-left:-68% ;
      margin-top: 25%;
  }

.g3 {
  display: none;
}

.wrapper > div{
  padding: 35px 5px;

}
.txt3{
  max-width: 550px; 
}
.txt1 {
  margin-top: -120px;
}
.imag_logo{
  margin-top: 5%;
  margin-left:9%; 
}
.titre{
  font-size: 30px ;
  margin-left:18%; 

}

.pied2 {
    display: none;
}
.imag_petit {
  width: 12%;
  height: 170%;
  margin-top: -3%;

}
.euro2 {
margin-left: -100%; 
}
}






